DB_HOST=host.docker.internal
DB_PORT=5435
DB_USER=your_real_postgres_username
DB_PASS=your_real_postgres_password
API_KEY_SECRET=secreto-inventario-linktic
PRODUCT_HOST=http://host.docker.internal:8080